// Variables

$primary-font: "Work Sans", "Arial", sans-serif;
$secondary-font: "Open Sans", "Arial", sans-serif;
$third-font: "FontAwesome";
 
$icons-dis-color: #dde5ed;
$icons-enab-color: #fd7487;
$text-color: #6893b5;
$bg-color: #fafbfc;
$border-color: #eef4f9;

$header-bg-color: #f1f8fe;
$header-common-color: #89c0f1;
$header-main-color: #1f8beb;
$header-font-color: #7590a7;

$research-color: #ff6197; 
$inprogress-color: #fed100; 
$backlog-color: #39cf7c; 
$reopened-color: #ff6666; 
$new-color: #00c5fe; 
$none-color: #7d97ae; 
$completed-color: #7e57c2;

$col-width: 4.16667%; // 100% / Months quantity